.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

.chosenFade {
    opacity: 0;
}

.fadeIn {
    animation-name: fadding;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

// Buttons

%btn-shared {
    display: grid;
    justify-content: center;
    align-items: center;

    position: relative;

    color: $header-color;

    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem 2rem;
    border: none;
    cursor: pointer;

    overflow: hidden;
    transition: all 0.3s;
}

.btn {
    &-main {
        @extend %btn-shared;
        background: $main-color;

        &:hover::before {
            transform: translateX(0);
        }
    }

    &-light {
        @extend %btn-shared;
        background: $light-color;

        &:hover::before {
            transform: translateX(0);
        }
    }

    &-dark {
        @extend %btn-shared;
        color: $light-color;
        background: $dark-color;

        &:hover::before {
            transform: translateX(0);
        }
    }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
    color: #ffffff;
}

button[class^="btn-"]::before,
a[class^="btn-"]::before,
input[class^="btn-"]::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: $main-color;

    transform: translateX(-100%);
    transition: all 0.3s;
}

button[class^="btn-"]::after,
a[class^="btn-"]::after,
input[class^="btn-"]::after {
    content: "";

    position: relative;

    display: grid;
    justify-content: center;
    align-items: center;
}

// Backgrounds
.bg {
    &-main {
        background: $main-color;
        color: set-text-color($main-color);
    }
    &-dark {
        background: $dark-color;
        color: set-text-color($dark-color);
    }
    &-light {
        background: $light-color;
        color: set-text-color($light-color);
    }
    &-medium {
        background: $medium-color;
        color: set-text-color($medium-color);
    }
    &-header {
        background: $header-color;
        color: set-text-color($header-color);
    }
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

// Padding
.py {
    &-1 {
        padding: 1rem 0;
    }

    &-2 {
        padding: 2rem 0;
    }

    &-3 {
        padding: 3rem 0;
    }

    &-4 {
        padding: 4rem 0;
    }
}

// Margin
.my {
    &-1 {
        margin: 1rem 0;
    }
    &-2 {
        margin: 2rem 0;
    }
    &-3 {
        margin: 3rem 0;
    }
    &-4 {
        margin: 4rem 0;
    }
}

.section-title {
    display: block;

    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

    padding-bottom: 0.5rem;
}

.bottom-line {
    display: block;
    margin: 0 auto 1rem auto;

    height: 2px;
    width: 7rem;
    background: $main-color;
}
